#top-title.container-fluid {
    background-image: url('../img/Mask_Group_1.png'), 
        linear-gradient(rgba(29,29,27,0.9),rgba(29,29,27,0.9));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    width: 100%;
    height: auto;
}

#charge-options.container-fluid{
    text-align: center;
    margin-top:7%;
    margin-bottom:7%;
}

.imgHolder {
    position: relative;
    display: inline-block;
    margin-left:10%;
    margin-right:10%;
}

#email a{
    font-weight: 500;
    font-size:1.2rem;
    color:black;
}

#contact-area.container-fluid {
    text-align: center;
    font-weight: 500;

    background-color: #25D366;
}

#contact-area > .container{
    padding-top: 5%;
}

body {
    font-family: 'Montserrat', sans-serif;
}

img.resize {
    max-width: 45%;
    /* max-height: 50%; */
}

.reduceSize {
    height:auto;
    width:15%;
}

.imgHolder figcaption {
    font-weight:500;
    font-size:1.3rem;
}

.charge-title {
    color:white;
    font-size:1.6rem;
    font-weight: 500;
    /* font-size:49px;  */
}

.charge-subtitle {
    color: #25D366;
    font-size:1rem;
    font-weight: 500;
    /* font-size: 25px; */
}

.white-text{
    color:white;
    font-size:1.5rem;
}

.form-rounded{
    border-radius:2rem;
    width: 40%;
    border:none;
}

.btn{
    border-radius: 2rem;
    color: white;
    text-transform: uppercase;
    background-color: black;
    width: 150px;
    font-weight: 500;
}

input {
    margin:auto;
}

textarea {
    margin:auto;
}

::placeholder { /* Firefox, Chrome, Opera */ 
    color: #25D366;
    font-size:1rem;
} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #25D366;
    font-size:1rem;
} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #25D366;
    font-size:1rem;
} 